<div class="mt-0">

  <div class="banner_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-8 padding_0">
          <div class="banner_img"><img src="../../assets/images/banner-img.png" width="100%" height="90%">
          </div>
        </div>
        <div class="col-sm-4">
          <div>
            <h2 class="clever_text">Invest In &nbsp;<span style="color: #212122;"> Learning</span> makes
              Your Carrer Grow.</h2>
          </div>
          <div class="read_bt_2"><a routerLink="/test-dashboard/" style="text-decoration: none;">Start Learning</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testing-18/06/2023 -->
  <!-- MockBook Service Start -->
  <div class="container py-4 ">
    <div class="container">
      <div class="row g-4">
        <div class="col-lg-3 col-sm-6">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-graduation-cap mb-4" style="color: #016e9f;"></i>
              <h3 class="mb-3">Skilled Instructors</h3>
              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-globe mb-4" style="color: #016e9f;"></i>
              <h3 class="mb-3">Online Quiz</h3>
              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-home mb-4" style="color: #016e9f;"></i>
              <h3 class="mb-3">Learning Projects</h3>
              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="service-item text-center pt-3">
            <div class="p-4">
              <i class="fa fa-3x fa-book-open mb-4" style="color: #016e9f;"></i>
              <h3 class="mb-3">Learning Materials</h3>
              <p>Diam elitr kasd sed at elitr sed ipsum justo dolor sed clita amet diam</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Service End -->

  <!-- Project Start -->
  <div class="container py-4 ">
    <div class="container category">
      <div class="text-center">
        <h3 class="section-title bg-white text-center text-primary px-3">Project</h3>
        <h1 class="mb-4">Popular Learning Project</h1>
      </div>
      <div class="row g-3">
        <div class="col-lg-7 col-md-6">
          <div class="row g-3">
            <div class="col-lg-12 col-md-12">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="../../assets/img/cat-1.jpg" alt="">
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Web Design</h5>
                  <small class="text-primary">49 Courses</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="../../assets/img/cat-2.jpg" alt="">
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Graphic Design</h5>
                  <small class="text-primary">49 Courses</small>
                </div>
              </a>
            </div>
            <div class="col-lg-6 col-md-12">
              <a class="position-relative d-block overflow-hidden" href="">
                <img class="img-fluid" src="../../assets/img/cat-3.jpg" alt="">
                <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                  <h5 class="m-0">Video Editing</h5>
                  <small class="text-primary">49 Courses</small>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-6" style="min-height: 350px;">
          <a class="position-relative d-block h-100 overflow-hidden" href="">
            <img class="img-fluid position-absolute w-100 h-100" src="../../assets/img/cat-4.jpg" alt=""
              style="object-fit: cover;">
            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin:  1px;">
              <h5 class="m-0">Online Marketing</h5>
              <small class="text-primary">49 Courses</small>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- Project End -->

  <!-- Quiz Start -->
  <div class="container py-4">
    <div class="container">
      <div class="text-center">
        <h3 class="section-title bg-white text-center text-primary px-3">Quiz</h3>
        <h1 class="mb-4">Popular Quiz</h1>
      </div>
      <div class="row g-4 justify-content-center">
        <div class="col-lg-4 col-md-6">
          <div class="course-item" style="background-color: #F0FBFC;">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="../../assets/img/course-1.jpg" alt="">
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm px-3 border-end"
                  style="border-radius: 30px 0 0 30px; background-color: #016e9f; color: aliceblue;">Read More</a>
                <a href="#" class="flex-shrink-0 btn btn-sm px-3"
                  style="border-radius: 0 30px 30px 0; background-color: #016e9f; color: aliceblue;">Join
                  Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <h3 class="mb-0">₹ Free</h3>
              <div class="mb-3">
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small>(123)</small>
              </div>
              <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John
                Doe</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49
                Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="course-item" style="background-color: #F0FBFC;">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="../../assets/img/course-2.jpg" alt="">
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm px-3 border-end"
                  style="border-radius: 30px 0 0 30px; background-color: #016e9f; color: aliceblue;">Read More</a>
                <a href="#" class="flex-shrink-0 btn btn-sm px-3"
                  style="border-radius: 0 30px 30px 0; background-color: #016e9f; color: aliceblue;">Join
                  Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <h3 class="mb-0">₹ Free</h3>
              <div class="mb-3">
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small>(123)</small>
              </div>
              <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John
                Doe</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49
                Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="course-item" style="background-color: #F0FBFC;">
            <div class="position-relative overflow-hidden">
              <img class="img-fluid" src="../../assets/img/course-3.jpg" alt="">
              <div class="w-100 d-flex justify-content-center position-absolute bottom-0 start-0 mb-4">
                <a href="#" class="flex-shrink-0 btn btn-sm px-3 border-end"
                  style="border-radius: 30px 0 0 30px; background-color: #016e9f; color: aliceblue;">Read More</a>
                <a href="#" class="flex-shrink-0 btn btn-sm px-3"
                  style="border-radius: 0 30px 30px 0; background-color: #016e9f; color: aliceblue;">Join
                  Now</a>
              </div>
            </div>
            <div class="text-center p-4 pb-0">
              <h3 class="mb-0">₹ Free</h3>
              <div class="mb-3">
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small class="fa fa-star" style="color:#feca01;"></small>
                <small>(123)</small>
              </div>
              <h5 class="mb-4">Web Design & Development Course for Beginners</h5>
            </div>
            <div class="d-flex border-top">
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-user-tie text-primary me-2"></i>John
                Doe</small>
              <small class="flex-fill text-center border-end py-2"><i class="fa fa-clock text-primary me-2"></i>1.49
                Hrs</small>
              <small class="flex-fill text-center py-2"><i class="fa fa-user text-primary me-2"></i>30 Students</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Quiz End -->
  <!-- end Testing 18/06/2023 -->

  <div>
    <!-- services section start -->
    <div class="container py-3">
      <div class="container">
        <div class="text-center">
          <h3 class="section-title bg-white text-center text-primary px-3">What We Do</h3>
          <h1 class="mb-4">Our Expertize & Services</h1>
        </div>
      </div>

      <div class="row g-4">
        <div class="com-sm-12 col-lg-8 ">
          <div class="plane_main">
            <div class="plane_left">
              <div class="icon_1"><img class="img-fluid" src="../../assets/images/icon-1.png"></div>
            </div>
            <div class="plane_right">
              <h3 class="mb-0">VISION TO PLAN</h3>
              <small>Completely synergize resource taxing relationships via niche markets.
                Completely synergize resource taxing.</small>
            </div>
          </div>
          <div class="plane_main ">
            <div class="plane_left">
              <div class="icon_1"><img src="../../assets/images/icon-2.png"></div>
            </div>
            <div class="plane_right">
              <h3 class="mb-0">GROWTH TO VISION</h3>
              <small>Completely synergize resource taxing relationships via niche markets.
                Completely synergize resource taxing.</small>
            </div>
          </div>
          <div class="plane_main ">
            <div class="plane_left">
              <div class="icon_1"><img src="../../assets/images/icon-3.png"></div>
            </div>
            <div class="plane_right">
              <h3 class="mb-0">MARKET TO GROWTH</h3>
              <small>Completely synergize resource taxing relationships via niche markets.
                Completely synergize resource taxing.</small>
            </div>
          </div>
          <div class="plane_main ">
            <div class="plane_left">
              <div class="icon_1"><img src="../../assets/images/icon-4.png"></div>
            </div>
            <div class="plane_right">
              <h3 class="mb-0">PLAN TO MARKET</h3>
              <small>Completely synergize resource taxing relationships via niche markets.
                Completely synergize resource taxing.</small>
            </div>
          </div>
          <div class="read_bt"><a href="#" style="text-decoration: none;">View More Quiz</a></div>

        </div>
        <div class="col-sm-12 col-lg-4">
          <div class="image_1"><img src="../../assets/images/img-1.png" style="height: 100%; width: 100%;"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- What we do part-2 -->




</div>