<div>
  <div class="row">
    <div class="col-md-6">
      <h4 style="font-family: serif; font-size: small;"><a routerLink="/admin-dashboard/view-categories">Back</a> Quiz of Category: {{catTitle}}</h4>
    </div>
    <div class="col-md-6">
      <a routerLink="/admin-dashboard/add-quiz" class="btn btn-sm plane_main">Add Quiz</a>
    </div>
  </div>

  <!-- <div>
      <table class="table text-center view_effect">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Desription</th>
            <th scope="col">Max_Marks</th>
            <th scope="col">Total_Qsn</th>
            <th scope="col">Status</th>
            <th scope="col">view-questions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Android</td>
            <td>All Android level qsn inside</td>
            <td>50</td>
            <td>100</td>
            <td>Open</td>
            <td>
              <button routerLink="/admin-dashboard/view-questions" class="btn btn-sm btn-warning">
                View Qsn
              </button>
              
            </td>
          </tr>
        </tbody>
      </table>
    </div> -->

  <div class="container mt-1">
    <div *ngIf="quizzes.length>0; else showThis">
      <div class="card my-1" *ngFor="let q of quizzes">
        <div class="card-body admin_txt">
          <div class="row">
            <div class="col-sm-3">
              <p><b>({{q.id}})</b> Quiz: {{q.title}}</p>
              <p>Quiz Category: {{q.category.title}} </p>
              <p>Status-{{q.active}} </p>
            </div>
            <div class="col-sm-3">
              <p>Total Qsn: {{q.numberOfQuestions}} </p>
              <p>Max Marks: {{q.maxMarks}} </p>
            </div>
            <div class="col-sm-6">
              <button (click)="deleteQuiz(q.id)" style="background-color: crimson;"
                class="btn btn-sm action_btn"><i class="bi bi-trash"></i></button>
              <button routerLink="/admin-dashboard/update-quiz/{{q.id}}/{{q.title}}" style="background-color: rgb(106, 108, 106);"
                class="btn btn-sm action_btn mx-1"><i class="bi bi-pencil-square"></i></button>
              <button routerLink="/admin-dashboard/view-questions/{{q.id}}/{{q.title}}"
                style="background-color: #016e9f" class="btn btn-sm action_btn">View Qsn</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <ng-template #showThis>
      <div class="alert alert-info" role="alert">
        <h4 style="font-family: serif; font-size: small;">No Quiz in this category: {{catTitle}}</h4>
      </div>
    </ng-template>
  </div>

</div>