<div>

  <!-- About Start -->
  <div class="container py-4">
    <div class="container">
      <div class="row g-5">
        <div class="col-lg-6" style="min-height: 400px;">
          <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="../../assets/img/about.jpg" alt=""
              style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="section-title bg-white text-start text-primary pe-3">About Us</h3>
          <h1 class="mb-4">Welcome to Mock-book</h1>
          <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
            Clita erat ipsum et lorem et sit.</p>
          <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos.
            Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
          <div class="row gy-2 gx-4 mb-4">
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Skilled Instructors</p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>Online Classes</p>
            </div>
            <div class="col-sm-6">
              <p class="mb-0"><i class="fa fa-arrow-right text-primary me-2"></i>International Certificate</p>
            </div>
          </div>
          <div class="readmore_bt">
            <a href="">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->
  <div class="container py-4">
    <div class="d-flex justify-content-center">
      <h3 class="section-title bg-white text-center text-primary px-3">About Mock-book/News</h3>
    </div>
    <div class="container py-4">
      <div class="row g-5">
        <div class="col-lg-6">
          <h1 class="mb-4">Latest Technology Learning</h1>
          <p class="mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa quae ab..</p>
          <div class="readmore_bt"><a href="#">Read More</a></div>
        </div>
        <div class="col-lg-6" style="min-height: 300px;">
          <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="../../assets/images/img-5.png" alt=""
              style="object-fit: cover;">
          </div>
        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="row g-5">
        <div class="col-lg-6" style="min-height: 300px;">
          <div class="position-relative h-100">
            <img class="img-fluid position-absolute w-100 h-100" src="../../assets/images/img-4.png" alt=""
              style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-6">
          <h1 class="mb-4">Study & Education</h1>
          <p class="mb-4">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque
            laudantium, totam rem aperiam, eaque ipsa</p>
          <div class="readmore_bt"><a href="#">Read More</a></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Team Start -->
  <div class="container py-3">
    <div class="container">
      <div class="text-center">
        <h3 class="section-title bg-white text-center text-primary px-3">Instructors</h3>
        <h1 class="mb-4">Expert Instructors</h1>
      </div>
      <div class="row g-4">
        <div class="col-lg-3 col-md-6">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="../../assets/img/team-4.jpg" alt="">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-linkedin"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-twitter"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Soniya</h5>
              <small>ASE</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="../../assets/img/team-3.jpg" alt="">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-linkedin"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-twitter"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Instructor Name</h5>
              <small>Designation</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="../../assets/img/team-1.jpg" alt="">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-linkedin"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-twitter"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Instructor Name</h5>
              <small>Designation</small>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6">
          <div class="team-item bg-light">
            <div class="overflow-hidden">
              <img class="img-fluid" src="../../assets/img/team-2.jpg" alt="">
            </div>
            <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
              <div class="bg-light d-flex justify-content-center pt-2 px-1">
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-linkedin"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-twitter"></i></a>
                <a style="background-color: #016e9f; color: aliceblue;" class="btn btn-sm mx-1"><i
                    class="fab fa-instagram"></i></a>
              </div>
            </div>
            <div class="text-center p-4">
              <h5 class="mb-0">Piyush</h5>
              <small>Historian</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Team End -->

  <div class="contact_section py-3">
    <div class="container">
      <h1 class="contact_text">Contact Us</h1>
      <div class="contact_section_2">
        <div class="row g-4">
          <div class="col-md-6">

            <div *ngIf="msgSent" class="alert alert-warning alert-dismissible fade show" role="alert">
              <strong>Email Sent!!!</strong> Our team shortly connect with you...
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>

            <form #contactForm="ngForm" (ngSubmit)="sendEmailFromJava()">
              <div class="form-group">
                <input type="text" [(ngModel)]="contactData.name" #name="ngModel" class="input_tag"
                  placeholder="Full Name" name="name" required minlength="2">
                  <div *ngIf="name.touched">
                    <p class="invalid-text" *ngIf="name.errors?.required">*name is a required field!</p>
                    <p class="invalid-text" *ngIf="name.errors?.minlength">*Name at least 2 character!!!</p>
                  </div>
              </div>
              <div class="row form-group">
                <div class="col-sm-6">
                  <input type="email" [(ngModel)]="contactData.email" #email="ngModel" class="input_tag"
                    placeholder="Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                  
                    <div *ngIf="email.invalid && (email.dirty || email.touched)">
                      <p class="invalid-text" *ngIf="email.errors?.required">*email is a required field!</p>
                      <p class="invalid-text" *ngIf="email.errors?.pattern">*Enter valid email!!!</p>
                    </div>
                </div>
                <div class="col-sm-6">
                  <input type="tel" [(ngModel)]="contactData.mobile" #mobile="ngModel" class="input_tag"
                    placeholder="Mobile" name="mobile" minlength="10" maxlength="10" pattern="[0-9]{10}" required>
                    <div *ngIf="mobile.invalid && (mobile.dirty || mobile.touched)">
                      <p class="invalid-text" *ngIf="mobile.errors?.required">*mobile is a required field!</p>
                      <p class="invalid-text" *ngIf="mobile.errors?.pattern">*Enter 10 digit valid mobile!!!</p>
                    </div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" [(ngModel)]="contactData.subject" #subject="ngModel" class="input_tag"
                  placeholder="Subject" name="subject" required minlength="5" maxlength="15">
                  <div *ngIf="subject.invalid && (subject.dirty || subject.touched)">
                    <p class="invalid-text" *ngIf="subject.errors?.required">*subject is a required field!</p>
                    <p class="invalid-text" *ngIf="subject.errors?.minlength">*Write above 5 lines!!!</p>
                  </div>
              </div>
              <div class="form-group">
                <textarea class="massage-bt" [(ngModel)]="contactData.message" #message="ngModel" placeholder="Message"
                  rows="4" id="comment" name="message" required minlength="5" maxlength="100"></textarea>
                  <div *ngIf="message.invalid && (message.dirty || message.touched)">
                    <p class="invalid-text" *ngIf="message.errors?.required">*message is a required field!</p>
                    <p class="invalid-text" *ngIf="message.errors?.minlength">*Write above 5 lines!!!</p>
                  </div>
              </div>
              <div class="main_bt"><button [disabled]="contactForm.invalid">Send</button></div>
            </form>
          </div>

          <div class="col-md-6">
            <div class="map">
              <div class="map-responsive">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4206.213907911765!2d77.5237422430199!3d28.421030526130448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cc0f918abee8d%3A0x8c72169fdd7154b0!2sGautam%20Buddha%20University!5e0!3m2!1sen!2sin!4v1686652799445!5m2!1sen!2sin"
                  width="600" height="400" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
              </div>
            </div>
          </div>
        </div>
        <br>
      </div>
    </div>
  </div>
</div>