<!-- <div class="container">
    <h3 class="user_txt">Available Quiz For Category: {{catTitle}} </h3>

    <div class="row" *ngIf="quizzes.length>0; else showThis">
        <div class="col-md-5 m-2" *ngFor="let q of quizzes">
            <div class="card " style="width: 18rem;">
                <div class="card-body user_txt">
                    <h5 >{{q.title}} / {{q.category.title}}</h5>
                    <h6 class="mb-1 text-muted">Qsn: {{q.numberOfQuestions}} | Marks: {{q.maxMarks}} | Status: {{q.active}} </h6>
                    <p class="card-text text-truncate">{{q.description}}</p>

                    <a routerLink="/user-dashboard/instructions/{{catTitle}}/{{q.title}}/{{q.id}}" class="btn btn-sm action_btn">Read Instructions</a>

                    <a href="#" class="card-link">View</a>
                </div>
            </div>
        </div>
    </div>
    <ng-template #showThis>
        <div class="alert alert-info" role="alert">
            <h4 style="font-family: serif; font-size: small;">Sorry...No Quiz in this category: {{catTitle}}</h4>
          </div>
    </ng-template>



</div> -->

<p>User Loading quiz comes from TestQuizComponent, this component may be deleted.</p>